.control {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  color: gray;
  cursor: pointer;
}

.control select,
.control input {
  font-size: 1rem;
  line-height: 1;
  
  width: 100%;
  outline: none;
  background-color: #3b3b3b;
  border: none;
  border-radius: 4px;
}

.control input {
  padding: 8px 4px;
}

.control select {
  cursor: pointer;
  padding: 9px 4px;
}

.control select:focus,
.control input:focus {
  box-shadow: 0px 0px 4px 1px rgba(153,205,50,0.99);
}
