.control {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  color: gray;
  cursor: pointer;
}

.control select,
.control input {
  font-size: 1rem;
  line-height: 1;
  
  width: 100%;
  outline: none;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border-color 0.25s ease-in-out;
}

.control input {
  padding: 8px 4px;
}

.control select {
  cursor: pointer;
  padding: 9px 4px;
}

@media(hover:hover) {
  .control select:hover,
  .control input:hover {
    border-color: yellowgreen;
  }
}

.control select:focus,
.control input:focus {
  box-shadow: 0px 0px 4px 1px rgba(153,205,50,0.99);
}
