.input {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.input label {
  color: gray;
}

.input input {
  font-size: 1rem;
  line-height: 1.6;
}

.input p {
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  color: red;
  font-size: 0.8rem;
}
