.userItem {
  position: relative;
  width: fit-content;
}

.active p {
  padding-right: 8px;
}

.active p::after {
  display: block;
  width: 4px;
  height: 4px;
  content: '';
  background-color: yellowgreen;
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  right: 0;
}
